/* estilos.css */

.countdown-timer-container {
  background-color: #fff1f2;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #9d174d;
  max-width: 600px;
  margin: 2rem auto; /* Centra y añade espacio entre contadores */
}

.countdown-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.countdown-target-date {
  font-size: 1rem;
  font-style: italic;
  color: #be185d;
  margin-top: -1rem;
  margin-bottom: 1.5rem;
}

.countdown-display {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.countdown-value {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.5rem;
  font-weight: bold;
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  min-width: 100px;
}

.countdown-value span {
  font-size: 0.8rem;
  font-weight: normal;
  text-transform: uppercase;
}

.countdown-final-message {
  font-size: 2.5rem;
  font-weight: bold;
  color: #db2777;
}
